<div class="container">
  <p class="flow-text">
    We seek the hidden underbelly of things that are generally considered good. Sure, the moon provides the ability to see on dark nights, but we also know she's a dirty bitch. Like our ex, Jack, have you heard of him? He's the worst.
  </p>
</div>

<h1 class="center">⇓</h1>

<div class="container">
  <p class="flow-text">
    We are currently seeking your most immoral, suprisings, revolutionary revelations. We accept from any genre, we just want to feel what you're saying. Y'know what we mean? 
  </p>
</div> 

<h1 class="center">⇓</h1>

<div class="container">
  <table class="centered" class="responsive-table">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mangaging Editor</td>
        <td>Megan Burnside</td>
      </tr>
      <tr>
        <td>Mangaging Editor, Co</td>
        <td>Molly "Wells" Wells</td>
      </tr>
      <tr>
        <td>Social Media Outreach</td>
        <td>Molly "Wells" Wells</td>
      </tr>

      <tr>
        <td>Copyeditor</td>
        <td>Molly "Wells" Wells</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax">
    <img src="assets/treespurpdirt.jpeg" width="100%">
  </div>
</div>