
<nav class="deep-purple lighten-4">
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="/" class="breadcrumb">Home</a>
      <a href="/cart" class="breadcrumb">Buy</a>
      <a href="/dead" class="breadcrumb">Dead Flowers</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s12 m6 l6">
    <img src="assets/we.png" width="100%">
  </div>
  <div class="col s12 m6 l6">
    <h3 class="title">Dead Flowers</p>
    <h5 class="price">$14.99</p>
    <h5 class="release">January 2014</p>

    <p class="longd flow-text">
      Every vampire love story has to involve the threat of death, but realistically we all know it can't come fast enough for some men like Jack. This isn't even a vampire story. This shouldn't even be a love story, but progtagonist Tag is coming to learn that the only way love can sometimes come is in Rome. A book that Kirkus Review called, "complete" and "somehow really a bound book", this stunning story does continue past the first few pages.
    </p>
    <a class="brown lighten-2 waves-effect waves-light btn ">Add to Cart</a>
    <p class="authorbio flow-text">
      This is Gregorio Mendez's first run on writing about a European adventure after living there alone along with his grandmother, grandfather, aunts, uncles, cousin Shayla, boyfriend Marco, and various friends he's thankful for. Bless those time zones that bring us home.
    </p>
  </div>
</div>

<div class="row">
  <h5>More to try from DMP:</h4>
</div>

<div class="row">
  <div class="col s4 m4 l4">
    <img src="assets/We.png" width="100%">
  </div>
  <div class="col s4 m4 l4">
    <img src="assets/pounce.jpg" width="100%">
  </div>
  <div class="col s4 m4 l4">
    <img src="assets/sevenmiles.png" width="100%">
</div>