<div class="parallax-container valign-wrapper">
  <div class="container">
    <h2 class="center transparent white-text valign">Here at Dirty Moon Press, good literature is like the moon.</h2>
  </div>
  <div class="parallax">
    <img src="assets/purpledirty.jpeg">
  </div>
</div>



<div class="container">
  <p class="flow-text">And by that we mean something between,"always escaping just before your car gets there on clear nights" and, "a dirty jerk like our ex-boyfriend, Jack."</p>

  <p class="flow-text">We have published over three chapbooks from the small press that exists in our basement apartment, and we look forward to publishing your work. Take a gander at our previous publications: </p>

  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card brown lighten-5">
        <div class="card-image">
          <img src="assets/deadflowers.png">
        </div>
        <div class="card-content gray-text">
          <p>Love comes strangely in this heartbreaking new collection of short stories.</p>
        </div>
        <div class="card-action">
          <a href="/dead">Learn More</a>
          <!-- <a href="#">Buy Chapbook</a> -->
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="card deep-purple lighten-5">
        <div class="card-image">
          <img src="assets/pounce.jpg">
        </div>
        <div class="card-content gray-text">
          <p>Step forward with this eclectic piece of fiction.</p>
        </div>
        <div class="card-action">
          <a href="/pounce">Learn More</a>
          <!-- <a href="#">Buy Chapbook</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6 l6">
      <div class="card deep-purple lighten-5">
        <div class="card-image">
          <img src="assets/sevenmiles.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content gray-text">
          <p>A nonfiction account of one man's journey into the woods for over five hours.</p>
        </div>
        <div class="card-action">
          <a href="/seven">Learn More</a>
          <!-- <a href="#">Buy Chapbook</a> -->
        </div>
      </div>
    </div>

    <div class="col s12 m6 l6">
      <div class="card brown lighten-5">
        <div class="card-image">
          <img src="assets/We.png">
        </div>
        <div class="card-content gray-text">
          <p>O's stories are like when your mother would say something rueful and smile with only the corner of her mouth.</p>
        </div>
        <div class="card-action">
          <a href="/we">Learn More</a>
          <!-- <a href="#">Buy Chapbook</a> -->
        </div>
      </div>
    </div>
  </div>

</div>