
<nav class="deep-purple lighten-4">
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="/" class="breadcrumb">Home</a>
      <a href="/buy" class="breadcrumb">Buy</a>
      <a href="/book" class="breadcrumb">Book</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s12 m6 l6">
    <img src="assets/sevenmiles.png" width="100%">
  </div>
  <div class="col s12 m6 l6">
    <h3 class="title">Seven Miles</p>
    <h5 class="price">$14.99</p>
    <h5 class="release">December 2015</p>

    <p class="longd flow-text">
      This nonfiction account of one man's seven mile journey into the wilderness alternates between bleak and beautiful. Author Charlie Parker maintained the appropriate body fat while being in the wilderness for more than five hours, built one fire, and considered building a canoe out of one of the trees along the riverbank. His next work is forthcoming from "Becoming Press", a forthcoming press.
    </p>
    <a class="brown lighten-2 waves-effect waves-light btn ">Add to Cart</a>
    <p class="authorbio flow-text">
      Charlie Parker enjoys long nature sojourns and has enjoyed his reviews relating him to Hemingway, Keruac, and Thoreau, as they are his favorite authors.
    </p>
  </div>
</div>

<div class="row">
  <h5>More to try from DMP:</h4>
</div>

<div class="row">
  <div class="col s4 m4 l4">
    <img src="assets/deadflowers.png" width="100%">
  </div>
  <div class="col s4 m4 l4">
    <img src="assets/pounce.jpg" width="100%">
  </div>
  <div class="col s4 m4 l4">
    <img src="assets/we.png" width="100%">
</div>