<div class="space"></div>

<div class="container">
  <p class="flow-text">
    We are currently seeking your most immoral, suprisings, revolutionary revelations. We accept from any genre, we just want to feel what you're saying. Y'know what we mean? 
  </p>
</div> 

<h1 class="center space">⇓</h1>

<div class="container">
  <p class="flow-text">
    Please be sure to check out our catalog of books to get a sense for what we're looking for. We are not opposed to revenge fiction, poetry about the spaces between even the people we're closest to, and nonficiton about the things we've lost. Chipper topics need not apply.
  </p>
</div> 

<h1 class="center space">⇓</h1>

<div class="container">
  <p class="flow-text">
    Feel free to send your best, your gloomiest, your most unloved but deserving to
    <a href="mailto:dirtymoonpress@gmail.com?cc=brycebortree@gmail.com&subject=Email%20Submission&body=A new submission from the website.">dirtymoonpress@gmail.com</a>.
  </p>
</div>