
<nav class="deep-purple lighten-4">
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="/" class="breadcrumb">Home</a>
      <a href="/cart" class="breadcrumb">Buy</a>
      <a href="/book" class="breadcrumb">We Had Been</a>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col s12 m6 l6">
    <img src="assets/we.png" width="100%">
  </div>
  <div class="col s12 m6 l6">
    <h3 class="title">We Had Been</p>
    <h5 class="price">$14.99</p>
    <h5 class="release">January 2016</p>

    <p class="longd flow-text">
      This debut short story collection from Author Margaret O is electric and evervescent. She spears directly into the feeling of isolation that plagues breakups and good relationships alike. Her stories are like when your mother would say something rueful and smile with only the corner of her mouth. She does not have strong opinions on Jack, but they doubtlessly wouldn't get along.
    </p>
    <a class="brown lighten-2 waves-effect waves-light btn ">Add to Cart</a>
    <p class="authorbio flow-text">
      Margaret O enjoys her garden, and her small dogs, and the Tucson sun reflecting off the broken glass outside her door.
    </p>
  </div>
</div>

<div class="row">
  <h5>More to try from DMP:</h4>
</div>

<div class="row">
  <div class="col s4 m4 l4">
    <img src="assets/deadflowers.png" width="100%">
  </div>
  <div class="col s4 m4 l4">
    <img src="assets/pounce.jpg" width="100%">
  </div>
  <div class="col s4 m4 l4">
    <img src="assets/sevenmiles.png" width="100%">
</div>